/* CORE STYLES */
:root {
  --primary-color: #321B62;
  --overlay-color: rgba(57, 22, 129 , 0.85);
  --secondary-color: #d3155c;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 80%;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.3rem;
}


/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > nav > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > nav > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > nav > ul > li > a:hover {
  color: var(--secondary-color);
}


/* Hero */

 .header {
   display: flex ;
   justify-content: center;
 
 }

 

.hero img {
  height: 100vh;
  width: 50vw;

}

.name {
  text-align: center;
  position: absolute;  
  right: 0%;                        
  top: 50%;                         
  transform: translate(-60%, -50%);
  color: #fff;

}

.hero span {
  color: #fff;
}

.name a {
  color: var(--secondary-color);
  text-decoration: none;
}

.name h3 {
  padding-top: 1.5rem;
  color: #d3155c;
}

.logo img {
  max-width: 350px;
}

.logo {
  text-align: center;
  position: absolute;  
  left: 25%;                        
  top: 50%;  
  transform: translate(-50%, -40%);
}

/* end hero */

/* over mij */

.over-mij h2 {
 text-align: center;
 margin-top: 20px ;
 font-size: 2rem;
}

.over-mij p:nth-of-type(2) {
  margin-bottom: 120px;
}

/* end over mij */

/* portfolio */


#portfolio{
  background-color: #EEE;
  margin-top: 80px;
}


.portfolio h2 {
 text-align: center;
 margin: 80px 80px;
 padding-top: 80px;
 font-size: 2rem;
}

.gallery {
  background: #EEE;
  margin-bottom: 100px;
}

.gallery-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #59457d;
  font-size: 2rem;
  text-align: center;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 300px;
  font-size: 80px;
  color: white;
}

.gallery-cell h2  {
  margin: 50px auto;
  color: var(--secondary-color);
}

.gallery-cell a {
  text-decoration: none;
  color: var(--secondary-color);
}

h3 {
  margin: 30px 0;
}

.portfolio p:nth-of-type(3) {
  padding-bottom: 100px;
}

.portfolio a {
  text-decoration: none;
}

/* end portfolio */

/* skills */

#skills {
  margin-bottom: 100px;
}

.skills {
  display: flex;
}

h2 {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 0;
}

.photo {
  max-width: 30vw;
  height: 550px;
  margin-top: 50px;
}

.skillset {
  width: calc(50% - 10px);
  margin-left: 100px;
 
}

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #F17858;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #321B62;
}
.bar.back::before{
  background-color: #C74465;
}

.bar.front1::before{
  background-color: #86256B;
}

.bar.middel::before{
  background-color: #FFB753 ;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(70% - 10px);
}

.bar.almost-expert::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(90% - 10px);
}

/* end skills */

/* opleiding */

#opleiding {
  background-color: #eee;
  padding: 0 0 100px 0;
}

h2 {
  text-align: center;
  margin: 0 0 80px 0;
}

.opleiding {
  display: flex;
  justify-content: space-evenly;
}

span {
  color: #C74465;
}

p {
  font-size: 1.1rem;
  padding-bottom: 20px;
}

/* end opleiding */

/* ervaring */

.werk div:nth-of-type(4) {
  padding-bottom: 120px;
}

.werk a {
  text-decoration: none;
}

/* einde ervaring */


/* contact */

footer {
  background-color: #321B62;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact h3 {
  padding-left: 50px;
  color: #fff;
  font-weight: 600;
}

.fa-linkedin {
  color: #fff;
}

footer h2 {
  padding-top: 80px;
  margin-bottom: 20px;
  color: #fff;
}

footer p {
  text-align: center;
  color: #d3155c;
  padding: 50px 0;
}



/* Responsive */

@media screen and (max-width: 599px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
 
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    }
    
  .hero img {
    height: 50vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .hero img:nth-of-type(1) {
    margin-top: -5px;
  
  }

  .opleiding {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .column,
  .skillset {
    width: 90vw;
    margin-left: 5px;
    margin-right: 5px;
  }

  .skillset img {
    max-width: 90vw;
    height: 300px;
  }

  #skills h2 {
    margin-bottom: 10px;
  }
  
  .logo img {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    transform: translate(50%, -50%);
  }

  .name {
    text-align: center; 
    right: 20px;
    transform: translate(-10%, -20%);
  }
   
  .name h3 {
    font-size: 1.2rem;
    padding: 1px;

  }

  .name h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  .over-mij h2 {
    margin: 0 0 50px 0;

  }

  }

  @media screen and (min-width: 600px) and (max-width: 899px) {
    .header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     }
   
    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      }
      
    .hero img {
      height: 50vh;
      width: 100vw;
      margin: 0;
      padding: 0;
    }
  
    .hero img:nth-of-type(1) {
      margin-top: -5px;
    
    }
  
    .opleiding {
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
  
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .column,
    .skillset {
      width: 90vw;
      margin-left: 5px;
    }
  
    .skillset img {
      max-width: 90vw;
      height: 550px;
    }
  
    #skills h2 {
      margin-bottom: 10px;
    }
    
    .logo img {
      text-align: center;
      max-width: 200px;
      margin: 0 auto;
      transform: translate(100%, -40%);
    }
  
    .name {
      text-align: center; 
      right: 20px;
      transform: translate(-80%, -20%);
    }
     
    .name h3 {
      font-size: 1.2rem;
      padding: 1px;
  
    }
  
    .name h2 {
      font-size: 1.5rem;
      margin: 0;
    }
  
    .over-mij h2 {
      margin: 0 0 50px 0;
  
    }
  
    }

  

  



@media screen and (min-width: 900px) and  (max-width: 1100px) { 
    .header {
      display: flex;
      flex-direction: column;

   }
 
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    }
    
  .hero img {
    height: 60vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .hero img:nth-of-type(1) {
    margin-top: -5px;
  
  }

  .opleiding {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column,
  .skillset {
    width: 90vw;
    margin-left: 20px;
  }

  .skillset img {
    max-width: 90vw;
    height: 650px;
  }

  #skills h2 {
    margin-bottom: 10px;
  }
  
  .logo img {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    transform: translate(130%, -30%);
  }

  .name {
    transform: translate(-70%, 0%);
  }
   
  .name h3 {
    font-size: 1.5rem;
    padding: 15px;
    margin: auto;
  }

  .name h2 {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }

  .over-mij h2 {
    margin: 0 0 10px 0;

  }
    
  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.2rem;
  }
}


    


